<th:block th:fragment="footer">
  <!-- <footer class="main-footer" style = "font-size : 0.7rem">
    <strong>Copyright &copy; 2025 ~ <a>easy Database Metadata </a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div> -->
  </footer>

  <!-- 모달 -->
<div class="modal fade modal-dialog-centered" id="modal-constaint-key" style="display: none;" aria-hidden="true">
  <!-- <div class="modal-dialog modal-lg"> -->
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Default Modal</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "container" id = "content">
          

        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

 


</th:block>